# Data Science Tools and Ecosystems

In this notebook,Data science tools and ecosystems are summarized

**Objectives:**

- List popular languages for Data Science
- Explain the Data Science ecosystem
- Introduce common tools and libraries used in Data Science

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia

Some commonly used libraries in data science include:

1. Pandas
2. NumPy
3. Matplotlib

| Data Science Tools |
| ----------------- |
| Jupyter Notebook  |
| RStudio           |
| Visual Studio Code|

### Below are a few examples of evaluating arithmetic expressions in Python. 

Examples:
1. Addition: 2 + 3 = 5
2. Subtraction: 8 - 4 = 4
3. Multiplication: 5 * 6 = 30
4. Division: 10 / 2 = 5

In [4]:
# This is a simple arithmetic expression to multiply then add integers
result = (3 * 4) + 5
result

17

In [5]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author

Aayush